.formacao {
  background: #141414;
  color: #ffffff;
}

.formacao.ativo {
  animation: slideInUp 0.8s ease-out forwards;
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 120px;
  position: relative;
  align-items: start;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 40px;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
  font-weight: 700;
}

.formacao-texto {
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 45ch;
  margin-bottom: 60px;
  color: #a3a3a3;
  font-weight: 500;
}

.formacao-texto strong {
  color: #ffffff;
  font-weight: 700;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  min-width: 200px;
  background: #000000;
  padding: 25px;
  border-radius: 8px;
  border-left: 4px solid #67dd0a;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.faculdade:hover {
  transform: translateY(-5px);
}

.faculdade-tipo {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #b6f829;
  margin-bottom: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 40px;
  position: relative;
  font-weight: 600;
}

.faculdade-instituicao {
  font-size: 1rem;
  color: #888;
  font-weight: 500;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.85rem;
  line-height: 1.5;
  color: #b6f829;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  font-weight: 700;
  letter-spacing: 1px;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #ccc;
}

.formacao-extra span {
  color: #888;
  font-weight: 500;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 80px 40px;
    gap: 60px;
  }
  .formacao .subtitulo {
    color: #ffffff;
  }
  .formacao-texto {
    font-size: 1.1rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}
